TEST_VAR="test value"

ENV="local"
VITE_ENV="${ENV}"
USE_VITE_BACKEND="true"

ENABLE_TEST_ROUTES="true"
AUTOGEN_DEBUG="true"

VITE_ENABLE_TEST_ROUTES="${ENABLE_TEST_ROUTES}"

API_PORT="3000"
API_URL="http://localhost:${API_PORT}"

ADMIN_PORT="3001"
ADMIN_URL="http://localhost:${ADMIN_PORT}"

SITE_PORT="3002"
SITE_URL="http://localhost:${SITE_PORT}"

ADDITIONAL_CORS_ORIGINS=""
