TEST_VAR="test value"

DAGGER_NO_NAG="1"
DAGGER_CLOUD_TOKEN=""
_EXPERIMENTAL_DAGGER_RUNNER_HOST="docker-container://dagger-engine"

REGISTRY_CACHE_URL=""

GH_REPO_URL="https://github.com/wataruian/viteplus"
GH_RUNNER_TOKEN=""
GH_RUNNER_NAME="gh-runner"
GH_RUNNER_MIN="1"
GH_RUNNER_MAX="5"
GH_RUNNER_SCALE_INTERVAL_SECONDS="60"

SONAR_TOKEN=""
SONAR_HOST_URL=""

DEBUG="false"
LOG_LEVEL="info"

ALLOW_ALL_IPS=""
BLOCK_ALL_IPS=""
ALLOWED_IPS=""
ENABLE_ERROR_STACK=""

ENV="local"
VITE_ENV="${ENV}"

SKIP_OPENTELEMETRY="false"

TELEMETRY_DEBUG="false"
STYLE_COMPILE_DEBUG="false"

OTEL_EXPORTER_OTLP_ENDPOINT="http://localhost:4318"
VITE_OTEL_EXPORTER_OTLP_ENDPOINT="${OTEL_EXPORTER_OTLP_ENDPOINT}"

FARO_ENDPOINT="http://localhost:12347"
VITE_FARO_ENDPOINT="${FARO_ENDPOINT}"

API_PORT="3000"
VITE_API_PORT="${API_PORT}"
API_URL="http://localhost:${API_PORT}"
VITE_API_URL="${API_URL}"

ADMIN_PORT="3001"
VITE_ADMIN_PORT="${ADMIN_PORT}"
ADMIN_URL="http://localhost:${ADMIN_PORT}"
VITE_ADMIN_URL="${ADMIN_URL}"

SITE_PORT="3002"
VITE_SITE_PORT="${SITE_PORT}"
SITE_URL="http://localhost:${SITE_PORT}"
VITE_SITE_URL="${SITE_URL}"

STORYBOOK_PORT="6006"
DESIGN_SYSTEM_PORT="6007"

ADDITIONAL_CORS_ORIGINS=""
